body {
    margin: 0;
    background-image: url('/static/images/background.jpg');
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: white;
}


.container {
    text-align: center;
    margin: 100px auto;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}


input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}


#results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style each book item */
.book {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    color: black;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease;
}

.book:hover {
    transform: scale(1.05);
}

.book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book h3 {
    font-size: 1.2rem;
    margin: 10px 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book p {
    font-size: 1rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}